<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TrabajoFinal_JYAA</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginUsr</servlet-name>
    <servlet-class>controllers.LoginUsr</servlet-class>
    <init-param>
      <param-name>admin</param-name>
      <param-value>admin123</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>user123</param-value>
    </init-param>
  </servlet>
   <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>controllers.Register</servlet-class>  
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUsr</servlet-name>
    <url-pattern>/loginUsr</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>